<li class='account' style='display:none;'>
  <%= link_to t('my_account'), spree.account_path %>
</li>

<li class='logout' style='display:none;'>
  <%= link_to t('logout'), spree.destroy_user_session_path %>
</li>

<li class='login' style='display:none;'>
  <%= link_to t('log_in'), spree.login_path %>
</li>